<!DOCTYPE html>
<% if @birthday.day.to_i == Date.today.to_s[-2,2].to_i && @birthday.month.to_i == Date.today.to_s[5,2].to_i %>
<h1> Happy Birthday, <%= @birthday.name %>! </h1>
<% else %>
<h2> Your birthday will be in <%= @birthday.days_until %> days, <%= @birthday.name %>. </h2>
<% end %>