<!DOCTYPE html>
<h1> Hello there! </h1>
<br>
<br>
<h2> What's your name? </h2>
<form action="/birthday"  >
  <input type="text" name="name">
<br>
<h2> When's your birthday? </h2>
day: <input type="text" name="day">
month: <input type="text" name="month">
  <input type="submit" name="Go!">
</form>

